# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
*.egg-info/

# VSCode / IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
infra/.terraform/

# Lambda zips
*.zip

# Logs
*.log
